<header class="mb-2">
  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <div class="container-fluid pl-3">
      <a class="navbar-brand" href="#">
        SampleApp
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-bar">
        <% if logged_in? %>
          <ul class="navbar-nav margin-left-auto">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menu</a>
              <ul class="dropdown-menu">
                <li><%= link_to 'ログアウト', logout_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>